.container{
  display: flex;
  justify-content: center;
  height: 85.7vh;
}

.container--width{
  display: flex;
  width: 1280px;
}

.container__sidenav{
 width: 20%;
}

main {
  padding-left: 5%;
  padding-top: 5%;
  width: 80%;
}

.sidenav{
  position: relative;
  display: flex;
  flex-direction: column;
  border-left: #d31e44 solid 1px;
  border-right: #d31e44 solid 1px;
  padding: 4em 1em;
  height: 100%;
  box-sizing: border-box;
}

.sidenav-link{
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-bottom: 20%;
}


.grix{
  display: flex;
  flex-direction: column;
}

.grix--flex{
  display: flex;
  justify-content: left;
  margin-top: 5%;
}

@media screen and (max-width: 960px) {
  .container{
    display: none;
  }
}
