





.history {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
  justify-content: space-around;
}


.commande {
  border-collapse: collapse;
  border: 2px solid $thirdcolor;
  border-radius: 10%;
}
.commande-reference {
  border-bottom: 2px solid $thirdcolor;
  text-align: center;
}
