.form-history {
  margin: auto;
}
.history {
  height: 93%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
  justify-content: space-around;
}


.commande {
  border-collapse: collapse;
  border: 2px solid $thirdcolor;
  border-radius: 10%;
}
.commande-reference {
  font-weight: bold;
}

.orders__order {
  display: flex;
  padding-bottom: 0.5rem;
}

.order-qty {
  width: 2em;
}
.order-total {
  justify-content: right;
}
