@import '../variable.scss';
@import "../header";
@import "../nav";
@import "../footer";
@import "../boutons";
@import "../success";
@import "history";
@import "container";

*{
    margin: 0;
    padding: 0;
}

body{
    background: $secondarycolor;
    font-family: Helvetica, Arial, sans-serif;
    width: 1280px;
    margin: auto
}


.maincolor {
    background-color: $mainColor;
    color: $secondarycolor;
    width: 1280px;
}



a {
    text-decoration: none;
}

@media screen and(max-width: 1280px) {

    body {
        width: 100%;
        margin: 0;
    }
}

/*** Flex **/
    .col-1 {
        flex: 1;
    }
    .col-2 {
        flex: 2;
    }
    .col-3 {
        flex: 3;
    }
    .col-4 {
        flex: 4;
    }
