{% extends 'base.html.twig' %}

{% block title 'Administration' %}

{% block body %}
    <a href="{{ path('admin_utilisateurs') }}">Utilisateurs</a>
    <a href="{{ path('admin_produits_index') }}">Produits</a>
    <a href="{{ path('admin_option_index') }}">Options produits</a>
{% endblock %}