@import './variable.scss';
@import './heritage.scss';
@import './header.scss';
@import './home.scss';
@import './nav.scss';
@import './boutons.scss';
@import './formulaire.scss';


*{
    margin: 0;
    padding: 0;
  }

body{
    background: $secondarycolor;
    font-family: Helvetica, Arial, sans-serif;
    width: 1280px;
    margin: auto
}

@media screen and (max-width: 960px) {

    body {
        width: 100%;
		margin: 0;
    }

}

a {
    text-decoration: none;
    color: black;
}


/*** Table ***/

table {
	width:100%;
	border:1px solid $thirdcolor;
}
th {
	background:$thirdcolor;
    color: $secondarycolor;
	
}
td {
	border:1px solid $thirdcolor;

}
tr {
	width:100%;	
    text-align: center;
	&:nth-of-type(even) {
		background:$mainColor;
        color: $secondarycolor;
        & a {
            color: $secondarycolor;
        }
	}
}

.commande-history {
	margin: 10px;
}