@import './variable.scss';
@import './heritage.scss';
@import './header.scss';
@import './home.scss';
@import './nav.scss';
@import './boutons.scss';
@import './formulaire.scss';
@import './table.scss';
@import './footer.scss';


*{
    margin: 0;
    padding: 0;
  }

body{
    background: $secondarycolor;
    font-family: Helvetica, Arial, sans-serif;
    width: 1280px;
    margin: auto
}


@media screen and (max-width: 960px) {

    body {
        width: 100%;
		margin: 0;
    }

}

a {
    text-decoration: none;
    color: black;
}


