@import './variable.scss';
@import './heritage.scss';
@import './header.scss';
@import './home.scss';
@import './nav.scss';
@import './formulaire.scss';


*{
    margin: 0;
    padding: 0;
  }

body{
    background: $secondarycolor;
    font-family: Helvetica, Arial, sans-serif;
    width: 1280px;
    margin: auto
}

a {
    text-decoration: none;
    color: black;
}

.myButton,.edit-form button {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #d31e45 5%, #771722 100%);
	background-color:#d31e45;
	border-radius:6px;
	border:1px solid #d31e45;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #771722;
}
.myButton:hover,.edit-form button:hover {
	background:linear-gradient(to bottom, #771722 5%, #d31e45 100%);
	background-color:#771722;
}
.myButton:active,.edit-form button:active {
	position:relative;
	top:1px;
}

.myButton2 {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #771722 5%, #d31e45 100%);
	background-color:#771722;
	border-radius:6px;
	border:1px solid #771722;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d31e45;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #d31e45 5%, #771722 100%);
	background-color:#d31e45;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.myButton3 {
	box-shadow:inset 0px 39px 0px -24px #d31e45;
	background-color:#771722;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #771722;
}
.myButton3:hover {
	background-color:#d31e45;
}
.myButton3:active {
	position:relative;
	top:1px;
}


/*** Table ***/

table {
	width:100%;
	border:1px solid $thirdcolor;
}
th {
	background:$thirdcolor;
    color: $secondarycolor;
}
tr {
	width:100%;	
    text-align: center;
	&:nth-of-type(even) {
		background:$mainColor;
        color: $secondarycolor;
        & a {
            color: $secondarycolor;
        }
	}
}

