.myButton,.edit-form button {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #d31e45 5%, #771722 100%);
	background-color:#d31e45;
	border-radius:6px;
	border:1px solid #d31e45;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #771722;
}
.myButton:hover,.edit-form button:hover {
	background:linear-gradient(to bottom, #771722 5%, #d31e45 100%);
	background-color:#771722;
}
.myButton:active,.edit-form button:active {
	position:relative;
	top:1px;
}

.myButton2 {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #771722 5%, #d31e45 100%);
	background-color:#771722;
	border-radius:6px;
	border:1px solid #771722;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d31e45;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #d31e45 5%, #771722 100%);
	background-color:#d31e45;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.myButton3 {
	box-shadow:inset 0px 39px 0px -24px #d31e45;
	background-color:#771722;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #771722;
}
.myButton3:hover {
	background-color:#d31e45;
}
.myButton3:active {
	position:relative;
	top:1px;
}


/*** Menu ***/
.myButton-cat {
	box-shadow: 1px 2px 0px 0px #899599;
	background:linear-gradient(to bottom, #d31e45 5%, #771722 100%);
	background-color:#d31e45;
	border-radius:13px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #771722;
}
.myButton-cat:hover {
	background:linear-gradient(to bottom, #771722 5%, #d31e45 100%);
	background-color:#771722;
}
.myButton-cat:active {
	position:relative;
	top:1px;
}

/*** admin ***/

.admin-button {
    margin: auto;
    justify-content: space-around;
    align-content: center;
}