@import './variable.scss';



 input[type=text], input[type=email], input[type=password], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 2px solid $thirdcolor;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  .form {
    background-color: $mainColor;
    color: $secondarycolor;
    margin: 5% auto;
    overflow: hidden;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 5px 10px 10px rgba($thirdcolor, 0.2);
  }

  .form-error{
    text-align: center;
    width: 100%;
    background-color: $thirdcolor;
  }
  .form h1 {
      margin-bottom: 10%;
  }

  input[type=checkbox] {
    width: 50%;
  }

  input[type=file] {
    opacity: 0;
  }


  