.login{
  border: $thirdcolor solid 3px;
  width: 30%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
  padding-bottom: 5em;
}

@media screen and (max-width: 960px) {
  .login{
    border: $thirdcolor solid 1px;
    width: 40%;
    padding: 0.5rem 0;
    margin-right: 1em;

  }

    .row {
        flex-direction: column;
    }
}

.card img {
    width: 10rem;
    height: 10rem;
    border-radius: 10%;

}
.card {
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
  }

  .card-body {
    text-align: center;
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }
  
  .card-title {
    margin-bottom: 0.5rem;
  }

  .app{
    margin-top: 1em;
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
  }

  .app img {
    width: 30%;
  }

  .app__user{
    border: $thirdcolor solid 3px;
    width: 30%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: center;
  }

  .app__user p{
    margin-bottom: 1em;
  }

  .app-presentation {
    height: auto;
    text-align: center;
    font-size: 5em;

  }
  
@media screen and (max-width: 960px) {
  .app__user{
    width: 40%;

  }
  
}