{% extends 'base.html.twig' %}

{% block title 'Commandes' %}

{% block body %}

    <a href="{{ path('admin_cart_wait') }}" class="myButton3">Commande à faire</a>
    {#  <a href="{{ path('admin_cart_end') }}" class="myButton3">Commande faite</a> #}
{% endblock %}